.app {

    .body {
        width: 100%;
        margin-top: 20px;

        .body-inner {
            max-width: 1200px;
            width: 1200px;

            .route-container {
                padding-right: 20px;
                width: calc(100% - 200px);
            }

            .sidebar-container {
                width: 200px;
            }
        }
    }
}