/* GLOBALS */
@import 'scss/colors';
@import 'scss/flex';
@import 'scss/layout';
@import 'scss/card';

/* APP */
@import 'App';

/* Components */
@import 'components/site-nav/site-nav';
@import 'components/episode-full/episode-full';
@import 'components/subscription-links/subscription-links';
@import 'components/follow-links/follow-links';
@import 'components/episode-list/episode-list';

body {
  margin: 0px !important;
  background-color: $color-page-background;
}

div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}