.site-nav {
    height: 55px;
    background-color: $color-page-foreground;
    color: $color-text-basic;

    .inner-wrapper {
        max-width: 1024px;

        .logo {
            font-size: 24px;
            
            a {
                color: white;
                text-decoration: none;

                &:hover {
                    color: darkgray;
                    text-decoration: underline;
                }
            }
        }

        .tab {
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    color: darkgray;
                    text-decoration: underline;
                }
            }
        }
    }
}