/* DISPLAY */
.flex {
    display: flex;
}

/* FLEX DIRECTION */
.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* JUSTIFY CONTENT */
.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

/* ALIGN ITEMS */
.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

/* ALIGN SELF */
.align-self-start {
    align-self: flex-start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}

/* JUSTIFY SELF */
.justify-self-start {
    margin-right: auto;
}

.justify-self-end {
    margin-left: auto;
}